
.centered-form{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 65vh;
  padding-left: 15%;
 
}

form{
  background-color: transparent;
  padding: 0px 60px;
  border-radius: 10px;
  
}

.container-logo{

    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 70%;
    display: flex;
    margin: 4em 11em;
    padding-left: 300px;
    
}
.gyl{
  max-width: 200px;
  padding: 15px 15px;
  margin: 0 60px;
}



.ruleta-registro{
  max-width: 340px;
}
.button-girar{
  display: flex;
  align-content: center;
  justify-content: center;
}

.button-rg{
  width: 60%;
  padding: 16px;
  border: none;
  background-color: #184684;
  color: white;
  border-radius: 80px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin: 3%
}

