.app{
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  
  form{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    padding-right: 10%;
    padding-left: 10%;
    width: 50%;
    height: 90%;
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10% ;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2;
    
   
  }
  .botonEmpezar{
    position: absolute;
    width: 90%;
    height: 20%;
    bottom: 100%;
    left: 3%;
    border: none;
    background-color: #184684;
    color: white;
    border-radius: 80px;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
   
  }
  .botonEmpezar:hover{
    border: solid 1px beige;
  }
  .logoModal{
    width: 7%;
    position: absolute;
    top: 45px;
    z-index: 3;
  }

  .containerRobotino2{
    width: 100%;
    height: 70%;
    position: absolute;
    display: grid;
 
  }
  .robot3{
    position: relative;
    width: 15%;
    height: 42%;
   left: 3%;
   right: 0;
   top: 10%;
   object-fit: cover;
 
   
  }
  .mensaje3{
    position: absolute;
    display: flex;
    width: 15%;
    height:45%;
    left: 15%;
    top: -11%;
    z-index: 3;
  }
  .cont50{
    position: relative;
    display: grid;
    justify-content: center;
    left: 31%;
    top: 20%;
    width: 18%;
  
  }
  .rul23{
    width: 100%;
    height: 100%;
  }
 