.gyl{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 39%;
    top: 20%;
    width: 22%;
    height: 22%;
    
}

.buton{
    position: absolute;
    width: 18%;
    height: 10%;
    left: 41%;
    top: 50%;
    border-radius: 40px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color:#ffff;
    background-color: rgba(7, 7, 129, 0.342);
    cursor: pointer;
}
.buton:hover{
    border: solid 1px beige;
}

.robot{
    display: block;
    position: absolute;
    height: 300px;
    top: 100px;
    left: 100px;
    
}
.robot img{
    width: 200px;
    height: 250px;
}
.mensaje{
    width: 200px;
    height: 200px;
}
.containerMsj{
    position: relative;
    display: inline-block;
    left: 258px;
    top: 55px;
   
}
.containerMsj h3{
    position: absolute;
    bottom: 85px;
    left: 22px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 19px;
    color:rgba(7, 7, 129, 0.685);
}

/*Modal*/
.robot2{
    display: block;
    position: absolute;
    height: 300px;
    top: 100px;
    left: 50px;
    z-index: 3;
}
.robot2 img{
    width: 200px;
    height: 250px;
}
.mensaje2{
    
    width: 200px;
    height: 200px;
    
}
.containerMsj2{
    position: absolute;
    display: inline-block;
    left: 200px;
    top: 55px;
   z-index: 2;
}
.containerMsj2 h3{
    position: absolute;
    bottom: 70px;
    left: 30px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 19px;
    color:rgba(7, 7, 129, 0.685);
}