.preguntaConetenedor{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height: 100%;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.cont-1{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    align-items: center;
    background-image: linear-gradient( 83.2deg,  rgba(149, 93, 233, 0.678) 10.8%, rgba(98, 88, 238, 0.644) 94.3% );
    border-radius: 20px;
    border: solid 2px rgb(233, 222, 222);
}
.titulo{
    padding: 10px;
    height: 65px;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    background-color: rgb(29, 57, 184);
}
.descrip{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.porcen{
    position: absolute;
    left: 19%;
    width: 60%;
    background-color: rgb(255, 238, 3);
   border-radius: 10px;
}
.porcePregunta{
    font-size: 22px;
    position: absolute;
     bottom: 12px;
     left: 15px;
     color: #ffffff;
     
}
.spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    top: 300px;
}