@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("/src/assets/Fondo c. Texto.png");
}
.correcta{
  background-color: green;
}
.incorrecta{
  background-color: red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
